/*  your css code here. If applicable */
body{
	background-color:#baea15;
	text-align:center;
}
.heading{
	text-decoration:underline;
}
.container p{
	border:2px solid black;
	padding:20px
}
.container ol{
	border:2px solid black;
	padding:20px
}
.container ul{
	border:2px solid black;
	padding:20px
}

.icon {
  display: inline-block;
  visibility: visible;
  font-size: 24px;  /* Adjust size as needed */
}

